src/main/resources/xsd/FILE_INFORMATION.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.olympus.co.jp/fluoview/model/fileinfo"
           xmlns:fileinfo="http://www.olympus.co.jp/fluoview/model/fileinfo"
           elementFormDefault="qualified">

    <xs:element name="fileInfomation">
        <xs:complexType>
            <xs:sequence>
                <!-- Required fields present in extracted XML -->
                <xs:element name="version" type="xs:string" minOccurs="1"/>
                
                <!-- Optional fields mentioned in spec/notes but not in current XML -->
                <!-- verify type from real data -->
                <xs:element name="name" type="xs:string" minOccurs="0"/>
                
                <!-- verify type from real data -->
                <xs:element name="date" type="xs:string" minOccurs="0"/>
                
                <!-- verify type from real data -->
                <xs:element name="researcher" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
